frontends/mydombox-mobile/inc/mydombox-2.0.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="mydombox" targetNamespace="http://mydombox.com/mydombox/" xmlns:mdb="http://mydombox.com/mydombox/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>&lt;---------- Mydombox Webservices ----------&gt;

Version: 1.0 (28/06/2013)

Methodes : 
	-getLightingStatus
	-setLightingStatus

Version: 2.0 (28/07/2013)

Methodes : 
	-initDevice


Author: Jean-François PUCHEU 
@: jfpucheu@gmail.com

------------------------------------------------
</wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://mydombox.com/mydombox/">
      <xsd:element name="getLightingStatus">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="DeviceID" type="xsd:int" maxOccurs="1" minOccurs="1"/>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getLightingStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="DeviceID" type="xsd:int" maxOccurs="1"
          		minOccurs="1" />
          	<xsd:element name="State" type="xsd:string" maxOccurs="1"
          		minOccurs="1">
          	</xsd:element>
          	<xsd:element name="Dim" type="xsd:int" maxOccurs="1"
          		minOccurs="0">
          	</xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="setLightingStatus">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="DeviceID" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="State" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="Dim" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="setLightingStatusResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="DeviceID" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="State" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="Dim" type="xsd:int" maxOccurs="1" minOccurs="0"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="initDevice">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="DeviceID" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      			<xsd:element name="Order" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="initDeviceResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="DeviceID" type="xsd:int"
      				maxOccurs="1" minOccurs="1">
      			</xsd:element>
      			<xsd:element name="Order" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getLightingStatusRequest">
    <wsdl:part element="mdb:getLightingStatus" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getLightingStatusResponse">
    <wsdl:part element="mdb:getLightingStatusResponse"
    	name="parameters" />
  </wsdl:message>
  <wsdl:message name="setLightingStatusRequest">
  	<wsdl:part name="parameters" element="mdb:setLightingStatus"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="setLightingStatusResponse">
  	<wsdl:part name="parameters"
  		element="mdb:setLightingStatusResponse">
  	</wsdl:part>
  </wsdl:message>
  <wsdl:message name="initDeviceRequest">
  	<wsdl:part name="parameters" element="mdb:initDevice"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="initDeviceResponse">
  	<wsdl:part name="parameters" element="mdb:initDeviceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="mydombox">
    <wsdl:operation name="getLightingStatus">
      <wsdl:input message="mdb:getLightingStatusRequest"/>
      <wsdl:output message="mdb:getLightingStatusResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setLightingStatus">
    	<wsdl:input message="mdb:setLightingStatusRequest"></wsdl:input>
    	<wsdl:output message="mdb:setLightingStatusResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initDevice">
    	<wsdl:input message="mdb:initDeviceRequest"></wsdl:input>
    	<wsdl:output message="mdb:initDeviceResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="mydombox" type="mdb:mydombox">

  	<soap:binding style="document"
  		transport="http://schemas.xmlsoap.org/soap/http" />
  	<wsdl:operation name="getLightingStatus">

  		<soap:operation
  			soapAction="http://mydombox.com/mydombox/getLightingStatus" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="setLightingStatus">

  		<soap:operation
  			soapAction="http://mydombox.com/mydombox/setLightingStatus" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  	<wsdl:operation name="initDevice">

  		<soap:operation
  			soapAction="http://mydombox.com/mydombox/initDevice" />
  		<wsdl:input>

  			<soap:body use="literal" />
  		</wsdl:input>
  		<wsdl:output>

  			<soap:body use="literal" />
  		</wsdl:output>
  	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="mydombox">
    <wsdl:port binding="mdb:mydombox" name="mydombox">
      <soap:address location="http://localhost:8888/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
